.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
#comics img, #comic img{
  width:auto;
}

@media(min-width:auto){
  #comics .col-md-3 .well{
    height: auto;
  }

  #comics .col-md-3 img{
    height:auto;
  }
}
